@font-face{
    font-family: "Rubic";
    src: url('../assets/fonts/Rubik-VariableFont_wght.ttf');
}

body{
    font-family: 'Rubic';
    margin: 0%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}

.wrapper{
    width: 100%;
}

.header{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}
.header__logo{
    display: flex;
    align-items: center;
    margin: 1% 0 1% 2%;
}
.header__logo__img{
    height: 40px;
    width: 50px;
}
.header__logo__name{
    font-size: 25px;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%; 
}
.hamburger {
    width: 30px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
}
.nav-links {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem;
    font-size: 16px;
}
.nav-links li a:hover{
    color: rgb(0, 123, 255);
}

h1{
    margin: 0 0 2% 0;
    font-size: 25px;
    font-weight:inherit;
}
h2{
    margin: 0% 0 2% 0;
    font-size: 20px;
    font-weight: inherit;
}
h3{
    font-size: 14px;
    font-weight:lighter;
    margin-bottom: 1px;
}
h4{
    margin: 15px 0 0 0;
    font-size: 16px;
    font-weight: lighter;
}

.main{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 90%;
    margin-left: 5%;
}

.main__product-card img {
    width: 100%;
    margin: 3% 5% 3% 5%;
    border-radius: 10px;
}
.main__product-card p{
    font-size: 16px;
    margin-bottom: 3%;
}
.main__product-card__color{
    display: block;
    background-color: rgb(113, 115, 120);
    border-radius: 1px;
    width: 10px;
    height: 10px;
}

.main__product-card__price span{
    margin-right: 10px;
}
.main__product-card__price s{
   font-weight:lighter;
}
.main__product-card__price{
    margin-bottom: 10px;
}
.main__product-card button{
    border: 0;
    border-radius: 5px;
    margin-bottom: 6%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    min-width:100px;
    padding: 10px 15px 10px 15px;
}
.main__product-card button:hover{
    background-color: rgb(0, 123, 255);
}
.main__characteristics div{
    margin: 3% 0 3% 0;
}

.reviews h1{
    margin-top: 15px;
    margin-bottom: 15px;
}
.reviews__item{
    background-color:  rgb(237, 237, 237);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.reviews__item__information{

}
.reviews__item__information__date{
    display: flex;
 
    justify-content: space-between;
}
.reviews__item__information__date h3{
    margin-top: 2px;
}
.reviews__item__information__date__grade{

}
.reviews__item__information__date__grade img{
    width: 20px;
}
.reviews__item__information__user{
    display: flex;
    align-items: center;
}
.reviews__item__information__user img{
    width: 30px;
    border-radius: 5px;
    margin-right: 5px;
}
.reviews__item__dignity{}
.reviews__item__dignity span{}

.reviews__item__flaws{}
.reviews__item__flaws span{}

.reviews__item__comment{}
.reviews__item__comment span{}






.footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding-bottom: 0%;
    margin-top: 15px;
}
.footer__logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.footer__logo span{
    font-size: 25px;
}
.footer__logo p{
    display: none;
}
.footer__communication{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}
.footer__communication__phone a{
    text-decoration: none;
    color: #ffffff;
}
.footer__communication__mail a{
    text-decoration: none;
    color: #ffffff;
}
.footer__communication__phone a:hover{
    color: rgb(0, 123, 255);
}
.footer__communication__mail a:hover{
    color: rgb(0, 123, 255);
}
.footer__nav{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}
.footer__nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer__nav a:hover{
   color: rgb(0, 123, 255);
}
.footer__social-media{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}
.footer__social-media a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer__social-media a:hover{
    color: rgb(0, 123, 255);
}

@media screen and (min-width: 1024px){
    .header__logo{
        margin: 1% 0 1% 5%;
    }
    .hamburger {
        display: none;
    }
    .nav-links {
        display: flex;
    }
    .main{
        width: 70%;
        margin-left: 15%;
    }
    .main__product-card img {
        width: 80%;
        margin: 6% 10% 3% 10%;
    }

    .footer{
        flex-direction: row;
        justify-content: space-between;
       padding: 0 5% 0 5%;
    }
    .footer__logo{
        margin-top: 50px;
        align-items: flex-start;
    }
    .footer__logo p{
        display: flex;
    }
    .footer__communication{
      
        margin-top: 92px;
    }
    .footer__nav{
        margin-top: 92px;
    }
    .footer__nav a{
       margin-bottom: 9px;
    }
    .footer__social-media{
        margin-top: 92px;
    }
}
